// app global css in SCSS form
/* muli-900 regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/muli/Muli-Regular.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url("../statics/fonts/muli/Muli-Regular.woff") format("woff") format("truetype");

}

/* muli-900 bold - latin */
@font-face {
  font-family: 'Muli-Bold';
  font-style: bold;
  font-weight: bold;
  src: url('../statics/fonts/muli/Muli-Bold.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url('../statics/fonts/muli/Muli-Bold.ttf') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../statics/fonts/muli/Muli-Bold.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../statics/fonts/muli/Muli-Bold.woff') format('woff'),
      /* Modern Browsers */
      url('../statics/fonts/muli/Muli-Bold.ttf') format('truetype');
}

/* muli-900 bold - latin */
@font-face {
  font-family: 'Muli-Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../statics/fonts/muli/Muli-SemiBold.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url('../statics/fonts/muli/Muli-SemiBold.ttf') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../statics/fonts/muli/Muli-SemiBold.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../statics/fonts/muli/Muli-SemiBold.woff') format('woff'),
      /* Modern Browsers */
      url('../statics/fonts/muli/Muli-SemiBold.ttf') format('truetype');
}

/* muli-black - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/muli/Muli-Black.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url('../statics/fonts/muli/Muli-Black.ttf') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../statics/fonts/muli/Muli-Black.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../statics/fonts/muli/Muli-Black.woff') format('woff'),
      /* Modern Browsers */
      url('../statics/fonts/muli/Muli-Black.ttf') format('truetype');
}

/* muli-light - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/muli/Muli-Light.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url('../statics/fonts/muli/Muli-Light.ttf') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../statics/fonts/muli/Muli-Light.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../statics/fonts/muli/Muli-Light.woff') format('woff'),
      /* Modern Browsers */
      url('../statics/fonts/muli/Muli-Light.ttf') format('truetype');
}

// app global css in SCSS form
/* montserrat-900 regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/montserrat/Montserrat-Regular.ttf');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'), format("truetype");

}

/* montserrat-900 bold - latin */
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: bold;
  font-weight: bold;
  src: url('../statics/fonts/montserrat/Montserrat-Bold.ttf');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'), url('../statics/fonts/montserrat/Montserrat-Bold.ttf') format('embedded-opentype'),
      /* Modern Browsers */
      url('../statics/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

/* montserrat-900 bold - latin */
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../statics/fonts/montserrat/Montserrat-SemiBold.ttf');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'), url('../statics/fonts/montserrat/Montserrat-SemiBold.ttf') format('embedded-opentype'),
      /* Modern Browsers */
      url('../statics/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

/* montserrat-black - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/montserrat/Montserrat-Black.ttf');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'), url('../statics/fonts/montserrat/Montserrat-Black.ttf') format('embedded-opentype'),
      /* Modern Browsers */
      url('../statics/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
}

/* montserrat-light - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../statics/fonts/montserrat/Montserrat-Light.ttf');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'), url('../statics/fonts/montserrat/Montserrat-Light.ttf') format('embedded-opentype'),
      /* Modern Browsers */
      url('../statics/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}

